<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.mumakid.wifiplugin" version="1.0.0">
  <name>WifiPlugin</name>
  <js-module name="WifiPlugin" src="www/WifiPlugin.js">
    <clobbers target="cordova.plugins.WifiPlugin"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WifiPlugin">
        <param name="android-package" value="com.mumakid.wifiplugin.WifiPlugin"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
      <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    </config-file>
    <source-file src="src/android/WifiPlugin.java" target-dir="src/com/mumakid/wifiplugin"/>
    <source-file src="src/android/Base64Encoder.java" target-dir="src/com/mumakid/wifiplugin"/>
    <source-file src="src/android/WifiElement.java" target-dir="src/com/mumakid/wifiplugin"/>
    <source-file src="src/android/WifiUtil.java" target-dir="src/com/mumakid/wifiplugin"/>
    <source-file src="src/android/libs/gson-2.8.0.jar" target-dir="libs"/> 
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="WifiPlugin">
        <param name="ios-package" value="WifiPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/ios/WifiPlugin.m"/>
  </platform>
</plugin>
